<!-- Copyright -->
<div id="copyright">
    <ul class="links">

        <li>&copy; 
            <a href="https://github.com/JulienMellon">Julien Mellon</a>,
            <a href="https://github.com/jaclynbrothers">Jaclyn Brothers</a>,
            <a href="https://github.com/gaildev10">Gail Giles</a>,
            <a href="https://github.com/mathung">Matt Hung</a>,
            <a href="https://github.com/ztlaw">Walt Lungan</a>,
            <a href="https://github.com/phuphaju">Nischaya Khatiwada</a>, & 
            <a href="https://github.com/neffcodes">James Neff</a>. All rights reserved. Template Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
</div>
</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>