<%- include('partials/header.ejs') %>

					<!-- Banner -->
						<section id="banner">
							<% if (locals.messages.errors) { %>
								<% messages.errors.forEach( el => { %>
									<div class="alert alert-danger"><%= el.msg %></div>
								<% }) %>    
							<% } %>
							<% if (locals.messages.info) { %>
								<% messages.info.forEach( el => { %>
									<div class="alert alert-danger"><%= el.msg %></div>
								<% }) %>    
							<% } %>
							<form action="/login" method="POST" class="textareaWidth">
								<label>
								<input type="email" name="email" placeholder="Email" class="button large textColor">
								</label>
								<label>
								<input type="password" name="password" placeholder="Password" class="button large textColor">
								</label>
								<label>
								<input type="submit" class="button">
								</label>
							</form>
						</section>
				</section>
<%- include('partials/footer.ejs') %>