<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Homework Bound Login Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="/">Homework Bound</a></h1>

					<!-- Banner -->
						<section id="banner">
							<% if (locals.messages.errors) { %>
								<% messages.errors.forEach( el => { %>
									<div class="alert alert-danger"><%= el.msg %></div>
								<% }) %>    
							<% } %>
							<% if (locals.messages.info) { %>
								<% messages.info.forEach( el => { %>
									<div class="alert alert-danger"><%= el.msg %></div>
								<% }) %>    
							<% } %>
							<form action="/login" method="POST" class="textareaWidth">
								<label>
								<input type="email" name="email" placeholder="Email" class="button large textColor">
								</label>
								<label>
								<input type="password" name="password" placeholder="Password" class="button large textColor">
								</label>
								<label>
								<input type="submit" class="button">
								</label>
							</form>
						</section>
				</section>
<%- include('partials/footer.ejs') %>